---

import Layout from '../layouts/Layout.astro';
---
    
<Layout title="Campichuelo">
	<!DOCTYPE html>
	<html lang="en">
		<meta charset="UTF-8">
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        
    </head>
            <div id="overlay" style="display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 2;"></div>        
            <div class="container">

                <main>
                    
                    <h2 class="titulo-sub-paginas">GARANTÍA</h2>
                    <section class="section-subpaginas">
                        <h2>Plazo:</h2>
                        <p>Otorgamos garantía por 6 meses desde la fecha de entrega.</p>
                    </section>

                    <section class="section-subpaginas">
                        <h2>¿Qué cubre nuestra garantía?</h2>
                        <p>Cubre los daños que puedan sufrir nuestros muebles por su condición natural de estar fabricados en MADERA MACIZA, el elemento material vivo por excelencia. Esto significa que la madera puede “trabajar”: doblarse, abrirse o achicarse. No te asustes. Tiene arreglo.</p>
                    </section>

                    <section class="section-subpaginas">
                        <h2>¿Qué no cubre nuestra garantía?</h2>
                        <p>No cubre los daños ocasionados por el uso de los muebles. Por ejemplo golpe, rayadura, quemadura, exposición al sol o lluvia, directa o indirectamente.</p>
                    </section>

                    <section class="section-subpaginas">
                        <h2>Funcionamiento:</h2>
                        <p>La reparación del mueble no tiene costo alguno durante el plazo de vigencia de la garantía. La garantía cubre el traslado de los muebles al taller para su reparación, y el envío posterior al comprador para la devolución del mueble arreglado. En caso de que el cliente quiera reparar el mueble luego del plazo de la garantia, debe consultar costos de reparación y traslados. El plazo que nos lleve hacer la reparación del mueble será informado al comprador una vez evaluado el daño sufrido.</p>
                    </section>

                    <section class="section-subpaginas">
                        <h2>ACLARACIONES SOBRE LA MADERA MACIZA</h2>
                        <p>La madera maciza tiene detalles propios de la vida del árbol: agujeros, nudos, rajaduras, son parte natural de la madera. Aunque se hagan todos los procesos para que se note lo menos posible, puede tener imperfecciones.
                            Las vetas de la madera maciza son como las huellas digitales de la mano. Nunca vas a encontrar una igual a otra. No podemos elegir la veta. Cada mueble es único e irrepetible.
                            Asimismo nuestro trabajo es 100% artesanal. Por lo que nuestros muebles tienen características propias de los trabajos manuales.
                            Lo mismo ocurre con la fibra de la madera, por lo que algunas partes pueden quedar más suaves y otras más rugosas, no son totalmente lisas como la melamina. 
                            Las partes internas de los muebles o la parte de abajo de las tapas de madera no reciben el mismo tratamiento que afuera o arriba. Al igual que en el marmol, piedra o granito el pulido es diferente. La mejor cara de la tapa de madera es la que queda a la vista y la más rústica queda para adentro o abajo.  
                            </p>
                    </section>
                    
        
                </main>
                
            </div>
        </body>
        </html>
</Layout>