---
import Layout from '../layouts/Layout.astro';
import ProductosDestacados from '../components/productos-destacados.astro';
import Promocion from '../components/promocion.astro';
import Carrusel from '../components/carrusel.astro';
---

<Layout title="Eclipse Muebles">
	<main>
	<section class="min-h-screen">
		<Carrusel/>
		<ProductosDestacados/>
	</section>
	<Promocion/>
	
	</main>
</Layout>



