---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<Nav />
		<Header/>
	</header>
	<main>
	<section>
	</section>
	</main>
	<Footer/>
</Layout>



