---
import Layout from "../layouts/Layout.astro";
import Subpaginas from "../layouts/subpaginas.astro";

---
<Layout title="Eclipse Muebles">
    <main class="">
        <div class="">
            <main>
                <h2 class=" text-white text-2xl md:text-3xl lg:text-4xl  mb-4 z-10 t text-center m-4">Sobre Nosotros</h2>
                <section class="nosotros relative p-6 md:p-8 lg:p-10 rounded-lg shadow-lg">
                    <div class="flex inset-0 bg-white opacity-50 rounded-lg"></div>
                    <div class="z-10 text-center text-white">
                        <p class="m-4 text-lg md:text-xl lg:text-2xl leading-relaxed text-pretty">La pasión por la madera, la confección de objetos útiles para nuestro hogar con propósito y calidad da origen a Campichuelo, donde el diseño de autor y la creación de muebles se conjugan para habitar tu hogar.</p>
                        <p class="m-4 text-lg md:text-xl lg:text-2xl leading-relaxed text-pretty">Tallamos sueños, moldeamos ideas, creamos donde vamos. Nuestro motor es la pasión por lo que hacemos, te garantizamos calidad y calidez, de nuestras manos a tu hogar objetos de carpintería y deco que conectan.</p>
                        <p class="m-4 text-lg md:text-xl lg:text-2xl leading-relaxed text-pretty">Creemos en el poder de los espacios que habitamos, en las cosas bien hechas, en los valores tradicionales y sobre todo en personas hechas de “buena madera”.</p>
                        <p class="m-4 text-lg md:text-xl lg:text-2xl leading-relaxed text-pretty">Conservamos lo autóctono de la materia prima, trabajamos hasta la perfección y apostamos a la innovación. Amamos convertir un diseño en productos reales funcionales y estéticos para tu hogar.</p>
                    </div>
                </section>
    </main>
        
</Subpaginas>
<style>
    h2{
        color: var(--dorado);
    }
</style>
</Layout>