
                    <a href="https://wa.me/5491155983715" target="_blank" class="whatsapp-button">
                        <img src="/img/redes/whatsapp.derecha.png" alt="Icono de WhatsApp">
                    </a>
    <style>
        
		/*WhatsApp-icono-derecha*/
		
		.whatsapp-button {
		
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #25D366;
        color: white;
        padding: 0px;
        border-radius: 50%;
        text-decoration: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        width: 65px;
        height: 65px;
    }

    .whatsapp-button img {
        width: 40px;
        height: 40px;
    }


.whatsapp-button img {
    width: 40px;
    height: 40px;
}

    </style>