---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import Redes from '../components/redes.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<Header />
		<slot />
		<Redes />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--negro:#000000;
		--dorado:#FFD700;
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		background-color: #000000;
	}
	
</style>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>