---
interface Props {
	title: string;
}

const { title } = Astro.props;
import BotonWh from '../components/header-footer/boton-wh.astro';
import Footer from '../components/header-footer/footer.astro';
import Nav from '../components/header-footer/nav.astro';
import Redes from '../components/header-footer/redes.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Fabrica de muebles Industriales y Artesanales a la medida" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<slot />
		<Redes />
		<BotonWh />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--negro:#000000;
		--dorado: #ffd900;
	}
	*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		background-color: #000000;
	}
	.TITULO-PRINCIPAL {
		font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0 0 1rem 0;
        position: relative;
}
.TITULO-SECUNDARIO {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--dorado);
    margin-bottom: 0.25rem;
    display: block;
}


        .header-lista-productos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        font-size: 20px;
    }
    .boton-despliega-aside{
    color: var(--secondary-color);
    font-size: 40px;}

    .productos img{
        border-radius: 8px;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px var(white);
    }

    .productos h3 {
        font-size: 1rem;
        padding-top:5px ;
    }
    .productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    transition: transform 0.3s ease;
    justify-items: center; /* Alinea los elementos de la cuadrícula a lo largo del eje de las filas */
    align-items: center; /* Alinea los elementos de la cuadrícula a lo largo del eje de las columnas */
}

.producto:hover {
    transform: scale(1.05);
}

.producto.categoria {
    display: block;
    margin-bottom: 1rem;
}

.titulo-producto {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

@media screen and (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    .productos {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media screen and (min-width: 1025px) {
    .productos {
        grid-template-columns: repeat(6, minmax(200px, 1fr));
    }
}



	
</style>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>