---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav.astro';
import Redes from '../components/redes.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<Header />
		<slot />
		<Redes />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--negro:#000000;
		--dorado:#FFD700;
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		background-color: #000000;
	}
	.TITULO-PRINCIPAL {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    position: relative;
}
.TITULO-SECUNDARIO {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--dorado);
    margin-bottom: 0.25rem;
    display: block;
}

</style>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
